


$main-background-color:rgba(239, 254, 247, 1);
$main-header-color:rgba(129, 244, 195, 1);
$main-text-color: rgba(3, 48, 31, 1);
$main-component-color:rgba(67, 229, 160, 1);
$context-component-color:rgb(0, 119, 68);

$category-color: rgba(145, 255, 207, 0.8);