.directory-title{
    margin-top: 5%;
    p{
        font-size: 75px;
        text-align: center;
        font-weight: 700;
    }
}

.home-component-container{
    margin: auto;
    width: 1920px;
}

@media (max-width: 768px){
    .home-component-container{
        width: 100%;
       
    }

    .directory-title{
        p{
            font-size: 30px;
        }
    }
}