.sign-in-form-content{

    .sign-in-buttons{
        margin-left: 10%;
        display: flex;
        gap: 2%;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .sign-in-form-content{
        width: 70%;
        margin: 0 8%;
        .sign-in-buttons{
            margin-left: 10%;
            display: flex;
            gap: 2%;
            justify-content: center;
        }
    }
    
}

