.category-containers {
    margin: 0.5em;
    flex: 1 1 auto;
    min-width: 30%;
    height: 300px;
    border: none;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
  
    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease, opacity 0.5s ease; 
  
      &:hover {
        transform: scale(1.1); 
        opacity: 1; 
        cursor: pointer;
  
        .category-body-container {
          opacity: 1; 
          transform: scale(1.1); 
        }
      }
  
      .category-body-container {
        display: flex;
        background: rgba(255, 255, 255, 0.5);
        width: 23%;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        transition: opacity 0.3s ease, transform 0.3s ease; 
        
        border-radius: 0.5em;
  
        .category-body-container-text {
          padding: 1px;
          text-align: center;
        }
      }
    }
  }
  