@import '../../assets/color-assets/_vars.scss';

.navigation {
    display: flex;
    background: $main-header-color;
    height: 70px;

    .nav-container {
        display: flex;
        width: 100%;
        padding: 0 15%;
        align-items: center;

        .nav-logo-container {
            .nav-logo {
                .logo {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .nav-links-container {
            color: $main-text-color;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .nav-link {
                display: flex;
                margin-right: 20px;
                text-decoration: none;
                padding-left: 1%;
                justify-content: center;
                align-items: center;
            }
        }

        .profile-links {
            display: flex;
            flex-direction: row;
        }
    }
}
