.categories-containers{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 15%;
}

@media (max-width: 768px){
    .categories-containers{
        width: 100%;
        margin: 0;
    }
}
