@import '../../assets/color-assets/vars.scss';

.add-item-container{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $main-header-color;
    border-radius: 0.5em;



    .add-item-title{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        
    }
    img {
        cursor: pointer;
        background: white;
        width: 300px;
        height: 300px;
        border-radius: 0.5em;
        object-fit:contain;
        transition: 200ms ease;
    }


    .add-item-form{
        width: 70%;
        margin-top: 2%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 0.8fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        select{
            margin: 4% 2%;
            width: 107%;
            height: 40px;
            border-radius: 0.8em;
            border: none;
            text-align: center;
            background: white;
            margin-bottom: -25px;
        }
        
        .item-form-button{
            margin-top: 6%;
            display: flex;
            
        }
    }

    .form-grid-1{
        grid-area: 1 / 1 / 2 / 2;
    }
    .form-grid-2{
        grid-area: 1 / 2 / 2 / 3;
    }
    .form-grid-3{
        margin-top: 2%;
        grid-area: 2 / 1 / 3 / 3;

        textarea{
            width: 100%;
            height: 80%;
            border-radius: 0.8em;
            border: none;
            text-decoration: none;
            padding: 2%;

            &:focus{
                outline: none;
            }
        }
    }
    
}
