.card-swiper-container{
    width: 70%;
    margin: 5% 15%;
    p{
        text-align: center;
        font-size: 60px;
        font-weight: 700;
    }

        .swiper-button-next, .swiper-button-prev {
          color: #000; 
        }
      
      
    
}

@media (max-width: 768px){
    .card-swiper-container{
        width: 100%;
        margin: 5% 0;
        p{
            font-size: 30px;
        }
    }
}