.auth-container{
    margin: 8% auto;
    width: 1920px;

    .auth-contents{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
}
@media (max-width: 768px){
    .auth-container{
        width: 100%;
        margin: 5% 0;
    
        .auth-contents{
            display: flex;
            flex-direction: column;
            gap: 100px;

    
        }
    }
}