@import '../../assets/color-assets/vars.scss';

@mixin shrinkLabel {
    top: -80%;
    font-size: 18px;
    color: black;
  }

.group {
    position: relative;
    margin: 3% 2%;

    .form-input{
        border: none;
        background-color: white;
        display: block;
        width: 110%;
        height: 35px;
        font-size: 14px;
        font-size: 1;
        margin: 20% 0 11% 0;
        border-radius: 0;
        padding-left: 1%;
        border-bottom: 1px solid $context-component-color;

        &:focus {
            outline: none;
          }

        &:focus ~ .form-input-label {
            @include shrinkLabel();
        }

    }

    input[type='password'] {
        letter-spacing: 0.3em;
      }
    

      .form-input-label {
        color: gray;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 30%;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
          }
    }
}